html,
body,
div,
a,
button,
input,
select,
textarea,
[role='button'],
[tabindex] {
	cursor: none !important;
}

/* Запрещаем выделение текста */
.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
