@import 'tailwindcss';

html {
	@apply scroll-smooth min-h-[100svh];
	font-family: 'Berthold City', sans-serif;
}
.alt-regular {
	font-family: 'IM Fell DW Pica', serif;
	font-weight: 400;
	font-style: normal;
}

.alt-regular-italic {
	font-family: 'IM Fell DW Pica', serif;
	font-weight: 400;
	font-style: italic;
}

.base-regular {
	font-family: 'Special Elite', system-ui;
	font-weight: 400;
	font-style: normal;
}
