@import 'tailwindcss';

@font-face {
	font-family: 'Berthold City';
	src: url('/public/fonts/BertholdCityBold.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Berthold City';
	src: url('/public/fonts/BertholdCityBoldItalic.otf') format('opentype');
	font-weight: 900;
	font-style: italic;
}

html {
	@apply scroll-smooth min-h-[100svh];
	font-family: 'Berthold City', sans-serif;
}

.hardcore-fade {
	@apply background: #7C2955;
	background: linear-gradient(
		180deg,
		rgba(124, 41, 85, 1) 0%,
		rgba(198, 88, 55, 1) 46%,
		rgba(213, 70, 54, 1) 53%,
		rgba(184, 28, 68, 1) 100%
	);
}
